/**
* ############# Global Styles ###########################
**/
body {
	margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/**
* ################## .bllboard Container Styles ##############################################
**/
.billboard {
	max-width: 1580px;
	margin: auto;
}

/**
* ###################### '.billboard__categories' Categories and tab selector Styles ########################
**/
.billboard__categories {
	text-align: center;
	background-color: #edebeb;
	padding-top: 53px;
	padding-bottom: 73px;
}

.billboard__categories h2 {
	margin-bottom: 22px;
	text-align: center;
	font: normal normal bold 37px/39px "Neue Haas Grotesk Display Pro Bold";
	letter-spacing: 0.74px;
	color: #101119;
	text-transform: capitalize;
}

.billboard__categories-tab {
	padding: 15px;
	margin-right: 27px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: none;
	color: #292929;
	font: normal normal 900 15px/25px "Neue Haas Grotesk Display Pro";
	letter-spacing: 2.25px;
	text-transform: uppercase;
}

.billboard__categories-tab:first-child {
	margin-left: 14px;
}

.billboard__categories-tab:last-child {
	margin-right: 14px;
}

.billboard__categories-tab.active {
	background-color: #101119;
	color: #fff;
}

.billboard__categories-tab:hover {
	cursor: pointer;
}

/** Media queries for breakpoints **/
@media screen and (max-width: 1259px) {
	.billboard__categories {
		padding-bottom: 30px;
		background-color: #cfd5e6;
	}
}

@media screen and (max-width: 999px) {
	.billboard__categories-tabs {
		display: flex;
		overflow: auto;
		max-width: fit-content;
		margin: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.billboard__categories-tabs::-webkit-scrollbar {
		display: none;
	}

	.billboard__categories-tab {
		font: normal normal 900 13px/23px "Neue Haas Grotesk Display Pro";
		letter-spacing: 1.95px;
		height: max-content;
		white-space: nowrap;
	}
}

/**
* ###################### '.billboard__posts' Posts Styles ######################
**/
.billboard__posts {
	background-color: #cfd5e6;
	position: relative;
	padding-bottom: 75px;
	padding-top: 47px;
}

.billboard__post {
	display: flex;
}

/** Media queries for breakpoints **/
@media screen and (max-width: 1259px) {
	.billboard__posts {
		padding-top: 0px;
	}
}

@media screen and (max-width: 999px) {
	.billboard__posts {
		display: grid;
		overflow-x: auto;
		grid-template-columns: repeat(4, 1fr);
	}
}

/**
* ######################### Featured post styles. ######################################
**/
.billboard__post:first-child {
	background-color: #fff;
	flex-direction: column;
	max-width: 630px;
	position: absolute;
	left: 10%;
	top: -40px;
}

.billboard__post:first-child .billboard__post-text {
	margin: 30px;
}

.billboard__post-text h4 span {
	position: relative;
	padding-bottom: 5px;
}

.billboard__post-text h4 span::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	border-bottom: 3px solid #1a48c4;
	content: "";
}

.billboard__post:first-child .billboard__post-text p:nth-of-type(1) {
	font: normal normal normal 31px/41px "Neue Haas Grotesk Display Pro";
	margin-top: 17px;
	letter-spacing: 0.93px;
	margin-bottom: 12px;
}

.billboard__post:first-child .billboard__post-text p:nth-of-type(n + 2) {
	font: normal normal bold 12px/18px "Neue Haas Grotesk Display Pro";
	letter-spacing: 0.57px;
	color: #4b5471;
}

.billboard__post:first-child img {
	width: 100%;
	max-height: inherit;
	object-fit: cover;
    object-position: top;
}

.billboard__post:first-child .billboard__post-image {
	max-height: 503px;
}

/** Media queries for breakpoints **/
@media screen and (max-width: 1259px) and (min-width: 1000px) {
	.billboard__post:first-child {
		max-width: 457px;
		left: 21px;
		top: 0;
	}

	.billboard__post:first-child .billboard__post-text p:nth-of-type(1) {
		line-height: 1.5em;
		height: 4.5em;
		overflow: hidden;
	}
}

@media screen and (max-width: 999px) {
	.billboard__post:first-child {
		max-width: calc(100vw - 30px);
		left: 15px;
		top: 0;
		position: sticky;
		grid-column: 1 / -1;
	}
	.billboard__post:first-child .billboard__post-text {
		margin: 20px 6px 20px 24px;
	}
}

/**
* ###################### Non Featured post styles. #####################
**/
.billboard__post:not(:first-child) {
	background-color: #fff;
	font-size: 14px;
	letter-spacing: 0.54;
	margin-right: 9%;
	margin-left: calc(10% + 675px);
	margin-bottom: 21px;
	overflow: hidden;
}

.billboard__post:not(:first-child) img {
	max-width: 212px;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	object-fit: cover;
	object-position: top;
}

.billboard__post:not(:first-child) .billboard__post-text {
	margin: 30px 20px 23px 20px;
	height: fit-content;
}

.billboard__post:not(:first-child) .billboard__post-text p:first-child {
	margin-bottom: 7px;
	font: normal normal normal 18px/24px "Neue Haas Grotesk Display Pro";
	letter-spacing: 0.54px;
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
}

.billboard__post:not(:first-child) .billboard__post-text p:not(:first-child) {
	font: normal normal bold 12px/18px "Neue Haas Grotesk Display Pro";
	letter-spacing: 0.57px;
	color: #4b5471;
	opacity: 1;
}

.billboard__post:not(:first-child) .billboard__post-image {
	max-height: 140px;
}

.billboard__post.billboard__cta {
	background-color: transparent;
	font: normal normal 900 11px/18px Neue Haas Grotesk Display Pro;
	letter-spacing: 0.82px;
	justify-content: flex-end;
}

/** Media queries for breakpoints **/

@media screen and (max-width: 1259px) {
	.billboard__post.billboard__cta {
		display: none;
	}

}

@media screen and (min-width: 1259px) and (max-width: 1580px) {
	.billboard__post:not(:first-child) {
		margin-right: 3%;
	}
}
@media screen and (max-width: 1259px) and (min-width: 1000px) {
	.billboard__post:not(:first-child) {
		margin-right: 20px;
		margin-left: 500px;
	}

	.billboard__post:not(:first-child) .billboard__post-text p:last-child {
		display: none;
	}

	.billboard__post:not(:first-child) .billboard__post-text p:first-child{
		max-height: 4.5em;
	}
}

@media screen and (max-width: 999px) {
	.billboard__post:not(:first-child) {
		margin: 0;
		width: 211px;
		max-width: 211px;
		flex-direction: column;
		margin-top: 20px;
		margin-right: 6px;
		margin-left: 15px;
	}

	.billboard__post:not(:first-child) img {
		height: 140px;
	}

	.billboard__post:not(:first-child) .billboard__post-text {
		margin: 18px 18px 20px 15px;
	}

	.billboard__post:not(:first-child) .billboard__post-text p:first-child{
		height: max-content;
	}
}
